.event .section-title {
  margin-block-end: 40px;
}

.event-card {
  position: relative;
  overflow: hidden;

  .card-banner {
    .img-cover {
      transition: var(--transition-2);
      height: 45rem;
      width: 100%;
    }

    .publish-date {
      position: absolute;
      top: 30px;
      left: 25px;
      padding: 5px 10px;
      color: var(--gold-crayola);
      background-color: var(--black);
      font-weight: var(--weight-bold);
      letter-spacing: var(--letterSpacing-1);
      line-height: 14px;
    }
  }

  .card-content {
    background-image: var(--gradient-1);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 35px 35px 25px;

    .card-subtitle {
      color: var(--gold-crayola);
      text-transform: uppercase;
      font-weight: var(--weight-bold);
      letter-spacing: var(--letterSpacing-2);
      margin-block-end: 5px;
    }
  }

  &:is(:hover, :focus-within) .img-cover {
    transform: scale(1.05);
  }

  .btn {
    margin-inline: auto;
    margin-block-start: 40px;
  }
}


@media(min-width:575px) {
  .event .container {
    max-width: 420px;
    margin-inline: auto;
  }
}

@media(min-width:768px) {
  .event .container {
    max-width: 820px;
  }
}

@media(min-width:992px){
  .event .container {
    max-width: unset;
  }
}


@media (min-width: 1200px) {

  .event {
    .container {
      max-width: 1200px;
      width: 100%;
      margin-inline: auto;
    }
  }
}