.service .section-text {
    margin-block-end: 40px;
}

.service-card {
    overflow: hidden;
    transition: 0.5s ease;

    .section-title {
        margin-block-end: 16px;
    }

    .has-before {
        padding-block: 30px;
        margin-block-end: 26px;
        z-index: 1;

        &::before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 140px;
            height: 100%;
            background-image: url("../assets/images/img-pattern.svg");
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            transition: var(--transition-2);
            transition-delay: 0;
            z-index: -1;
            will-change: transform;
        }
    }

    .card-banner {
        transition: var(--transition-2);

        img{
            height: 31rem;
        }
    }

    .card-title {
        margin-block-end: 12px;
    }
}


.service-card:is(:hover, :focus-within) .has-before::before {
    transform: rotateY(0.5turn) translateX(50%);
    transition-delay: 300ms;
}


.service-card:is(:hover, :focus-within) .card-banner {
    transform: scale(1.05);
}



.menu-slider{
    position: relative;
    // background-color: red;
    width: 100%;
    min-height: 62rem;
    z-index: 0;
    overflow: hidden;
    padding: 2rem;


    .service-card   {
        position: absolute;
        min-height: 53rem;
        width: 26rem
    }

}