    <%- include("../includes/header.ejs") %>
    <title>Edit User</title>
</head>

<body>
    <h1 class="headline-1 section-title" style="text-align: center;">Edit User</h1>

    <form class="edit-form" method="post" enctype="multipart/form-data" action="/admin/users/edit/<%=user._id%>/?_method=PATCH">
        <p>Full Name</p><input type="text" name="fullname" value="<%= user.fullname %>">
        <p>Gender</p>
        <select name="gender" style="width: 100%;padding:10px">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <p style="margin-block-start: 1.5rem;">Date Of Birth</p>

        <input type="date" name="DOB"
            value=<%=`${user.DOB.getFullYear()}-${(user.DOB.getMonth()+1).toString().padStart(2,'0')}-${user.DOB.getDate().toString().padStart(2,'0')}`%>>
        <p>Upload New Profile Image ? (click the checkbox to edit image)</p>
        <input type="checkbox" name="imagecheckbox" id="imagecheck">
        <div class="imageupload">
            <input type="file" id="myFile" name="myFile" />
        </div>
        <button class="btn">Make Changes</button>
    </form>

    <script>
        let imageDiv = document.querySelector(".imageupload");
        imageDiv.style.display = "none";
        let imagecheck = document.querySelector("#imagecheck");

        imagecheck.addEventListener("click", () => {
            if (imagecheck.checked) {
                imageDiv.style.display = "block";
            } else {
                imageDiv.style.display = "none";
            }
        })
    </script>
</body>

</html>