<%- include("../includes/header.ejs") %>

    <title>Create Notification</title>

    </head>

    <body style="overflow: auto;">

        <section class="section countdown bg-black-10 text-center" aria-label="countdown" id="workshop">
            <div class="container">

                <h2 class="headline-1 section-title">Create Notification For Users!</h2>
                <br>
                <br>
                <p class="section-subtitle label-2" style="letter-spacing: 0em;font-size: 1.5rem;text-transform: none;">
                </p>

                <form id="addfield" class="addfield" method="post" action="/admin/notification">
                    <div style="position: relative;">
                        <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">Title</p>
                        <input type="text" name="title" placeholder="Title" required>
                        <p style="color: red;font-size: 2rem;position: absolute;top: 0%;right: 0%;">*</p>
                    </div>
                    <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">Message</p>
                    <textarea type="text" id="suggestion" name="message"
                        placeholder="Message for users to be notified on website and mail"
                        style="height:8rem"></textarea>
                    <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">HTML Content for
                        MAIL</p>
                    <textarea type="text" id="suggestion" name="htmlContent"
                        placeholder="Keep it empty if user is not to be notified by email."
                        style="height:8rem"></textarea>
                    <button type="submit" class="btn btn-primary">ADD!</button>
                </form>

            </div>
        </section>
    </body>

    </html>