<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="./css/userdashboardstyle.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <!-- left side nav starting mai -->
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <a href="/"><img src="/assets/images/koe-logo.png" alt=""></a>
            </div>

            <a href="/" style="text-decoration: none;"><span class="logo_name">Admin</span></a>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li id="dashboard"><a href="#dashboard">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Features</span>
                    </a></li>

            </ul>

            <ul class="logout-mode">
                <li><a href="/auth/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard" id="#dashboard">
        <!-- top nav at small size -->
        <div class="top">

            <ul class="logout-mode top-nav-logout">
                <li>
                    <a href="/auth/logout">
                        <i class="uil uil-signout"></i>
                    </a>
                    <span class="link-name">Logout</span>
                </li>

                </li>
            </ul>

            <ul class="top-nav">

                <li id="dashboard">
                    <div class="top-nav-elements">
                        <i class="uil uil-estate"></i>
                        <div class="nav-ele-name">Feature<div>
                            </div>
                </li>
            </ul>

        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Features</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="fa-regular fa-user"></i>
                        <span class="text">Manage Roles and Users</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/users">Get Data</a>
                        </span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-envelope-add"></i>
                        <span class="text">Create Notifications and Mail!</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/notification">Let's Create</a>
                        </span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-web-section"></i>
                        <span class="text">Herosection Customizer</span>
                        <span class="number"> <a class="buttonuser" href="/admin/herosection">Customize</a>
                        </span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-coffee"></i>
                        <span class="text">Manage Workshops</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/workshopsection">Manage</a>

                        </span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-trophy"></i>
                        <span class="text">SpecialitySection Customizer</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/specialitysection">Customize</a>

                        </span>
                    </div>

                    <div class="box box1">
                        <i class="fa-solid fa-champagne-glasses"></i>
                        <span class="text">Manange Events</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/eventsection">Let's Go</a>
                        </span>
                    </div>

                    <div class="box box3">
                        <i class="fa-regular fa-message"></i>
                        <span class="text">View and Manage Testimonials</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/testimonialsection">Let's See</a>
                        </span>
                    </div>

                    <div class="box box1">
                        <i class="fa-solid fa-utensils"></i>
                        <span class="text">Manage Table Bookings</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/bookings">Manage</a>
                        </span>
                    </div>

                    <div class="box box2">
                        <i class="fa-solid fa-people-group"></i>
                        <span class="text">All workshop Registrations</span>
                        <span class="number">
                            <a class="buttonuser" href="/admin/workshopregistration">Get Data</a>
                        </span>
                    </div>

                </div>

            </div>
        </div>

    </section>

    <!--yaha se kaam-->



    <!-- <script src="/js/userdashboardscript.js"></script> -->
</body>

</html>