@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
::selection {
  background: #4158d0;
  color: #fff;
}
.wrapper {
  width: 90%;
  max-width: 23.75rem; /* 380px to rem */
  background: #fff;
  border-radius: 0.9375rem; /* 15px to rem */
  box-shadow: 0px 0.9375rem 1.25rem rgba(0, 0, 0, 0.1); /* 15px and 20px to rem */
}
.wrapper .title {
  font-size: 2.1875rem; /* 35px to rem */
  font-weight: 600;
  text-align: center;
  line-height: 6.25rem; /* 100px to rem */
  color: #fff;
  user-select: none;
  border-radius: 0.9375rem 0.9375rem 0 0; /* 15px to rem */
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form {
  padding: 0.625rem 1.875rem 3.125rem 1.875rem; /* 10px, 30px, 50px to rem */
}
.wrapper form .field {
  height: 3.125rem; /* 50px to rem */
  width: 100%;
  margin-top: 1.25rem; /* 20px to rem */
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.0625rem; /* 17px to rem */
  padding-left: 1.25rem; /* 20px to rem */
  border: 1px solid lightgrey;
  border-radius: 1.5625rem; /* 25px to rem */
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 1.25rem; /* 20px to rem */
  color: #999999;
  font-weight: 400;
  font-size: 1.0625rem; /* 17px to rem */
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 1rem; /* 16px to rem */
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content {
  display: flex;
  width: 100%;
  height: 3.125rem; /* 50px to rem */
  font-size: 1rem; /* 16px to rem */
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 0.9375rem; /* 15px to rem */
  height: 0.9375rem; /* 15px to rem */
  background: red;
}
form .content label {
  color: #262626;
  user-select: none;
  padding-left: 0.3125rem; /* 5px to rem */
}
form .content .pass-link {
  color: "";
}
form select {
  border-radius: 3.125rem; /* 5rem to rem */
  width: 100%;
  height: 3.125rem; /* 50px to rem */
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #f8f9fa;
  color: #343a40;
  cursor: pointer;
}
form select::-ms-expand {
  margin-left: 0.3125rem; /* 5px to rem */
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -0.625rem; /* -10px to rem */
  font-size: 1.25rem; /* 20px to rem */
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #262626;
  margin-top: 1.25rem; /* 20px to rem */
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}
.gender-selection {
  display: flex;
  justify-content: space-around;
  margin-block-start: 1rem;
}
.gender-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.375rem; /* 0.6rem to rem */
  padding: 0.3125rem 0.625rem; /* 0.5rem 1rem to rem */
  transition: 0.3s;
}
.gender-option:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
  transform: scale(1.05);
}
.gender-option input[type="radio"] {
  display: none;
}
.gender-option .icon {
  margin-right: 0.5rem; /* 8px to rem */
  transition: transform 0.3s;
}
.gender-option input[type="radio"]:checked + .icon {
  transform: scale(1.25);
}
.gender-option input[type="radio"]:checked + .icon {
  border-radius: 50%;
  background-color: #007bff;
}

@media screen and (max-width: 25rem) {
  .wrapper form {
    padding: 0.625rem 1.2rem 2.5rem 1.2rem;
  }
}
