/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  /* background-color: var(--primary-color); */
}
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}
nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-image img {
  width: 4.5rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 450;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  flex-direction: row-reverse;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}


.top img {
  width: 40px;
  border-radius: 50%;
}
.dashboard .dash-content {
  padding-top: 50px;
}


.title{
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.title .text{
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}



.top-nav{
  display: none;
}
.top-nav-logout{
  display: none;
}

/*apne user ka data*/

.no-activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;

}

.no-activity a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.4rem;
  transition: 0.2s ease 0.1s;
}

.no-activity a:hover{
  transform: scale(1.2);
}

.dash-content .user-content{
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 2rem 4rem 2rem 3rem;
  justify-content: space-around;
  gap: 2rem;
}

.overview{
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-details .user-details-label{
  margin-block-end: 0.8rem;
  color: #0b3cc1;
}

.user-details .user-input{
  height: 2.5rem;
  margin-block-end: 2rem;
  border-radius: 0.6rem;
  width: 19rem;
  padding: 1rem 1rem 1rem 0.5rem;
}

.user-details .user-input-nochange{
  padding: 0rem 0rem;
  margin-block-end: 2rem;
}

.user-details .gender-selection {
  display: flex;
  justify-content: space-around;
  margin-block-end: 2rem;
  gap: 1rem;
}

.user-details .gender-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.6rem;
  padding:0.5rem 1rem;
  transition: 0.3s;
}

.user-details .gender-option:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
  transform: scale(1.05);
}

.user-details .gender-option input[type="radio"] {
  display: none;
}

.user-details .gender-option .icon {
  margin-right: 8px;
  transition: transform 0.3s;
}

.user-details .gender-option input[type="radio"]:checked + .icon {
  transform: scale(1.25);
}

.user-details .gender-option input[type="radio"]:checked + .icon{
  border-radius: 50%;
  background-color: #007bff; /* Blue for male */
}

.profile-picture .profile-picture-label{
  font-size: 2rem;
  text-align: center;
  color: #0b3cc1;
  margin-block-end:1rem;
}

.profile-picture .profile-image{
  position: relative;
}

.profile-picture input{
  position: absolute;
  left: 0%;
  bottom: 0%;
  color: #007bff;
  opacity: 0;
}

.profile-picture .file-input-label{
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 12px;
  transition:0.3s;
  cursor: pointer;
}

.file-input-label:hover{
  transform: scale(1.1);
  background-color: #ff4742;
  color: white;
  box-shadow: 2px 2px 4px black;
}

.profile-picture .profile-image img{
  height:15rem;
  width:15rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  /* padding: 0.2rem 0.2rem; */
  box-shadow: 5px 5px 30px var(--primary-color);
  cursor: pointer;  
}

input[type='file'] {
  color: transparent;
  cursor: pointer;
  visibility: hidden;
}

.user-activity{
  display: flex;
  /* flex-direction: column; */
  padding: 2rem 3rem 2rem 3rem;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.user-activity .activity-number{
  margin-block-end: 1rem;
  color: var(--primary-color);
}

.activity-heading{
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color);
  margin-block-end: 0.5rem;
}

.user-activity .activity-detail-field{
  /* display: flex; */
  align-items: center;
}

.activity-detail-label{
  color: #0e4bf1;
}

.activity-detail-field .user-input{
  height: 2rem;
  margin-block-end: 1rem;
  border-radius: 0.6rem;
  width: 19rem;
  padding: 1rem 1rem 1rem 0.5rem;
}

.activity-detail-field .textarea{
  height: 5rem;
  border: 1px solid black;
}

.activity-box{
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 10px;
}

.booking-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.booking-box .update-button{
  display: flex;
}

.update-button button{
  margin-inline:auto;
}



.activity-data hr{
  margin-block: 2rem;
}

.user-activity .workshop-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.workshop-box .workshop-post{
  padding: 1rem 1rem;
}

.workshop-box .workshop-detail{
  margin-block:0.5rem 1rem;
  text-align: justify;
}

.workshop-box .user-details-workshop{
  justify-self: center;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.workshop-box .update-button{
  display: flex;
}

.workshop-detail-heading{
  margin-block-end: 3rem;
  color: var(--primary-color);
}


.testimonial-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 1rem;
}

.testimonial-box .update-button{
  display: flex;
}

#testimonial-input{
  width: 40rem;
  height: 10rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-block-end: 1rem;
  border-radius: 0.6rem;
  padding: 1rem 1rem 1rem 0.5rem;
}


.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
  margin-bottom: 2rem;
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity{
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
} */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid #e6e5e5;
  padding: 8px;
  text-align: left;
}

.names,
.email,
.joined,
.type,
.status {
  white-space: nowrap;
}

.data-title {
  font-weight: bold;
}

.buttonuser {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.buttonuser:hover,
.buttonuser:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.buttonuser:active {
  opacity: 0.5;
}

.messagebroadcastdiv {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }

  .user-activity .workshop-box{
    grid-template-columns: 1fr;
  }

  nav .logo-name{
    margin: 0rem;
  }

  nav .logo-image img {
    width: 4rem;
  }
  
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }

  #testimonial-input{
    width: 17rem;
    height: 5rem;
  }

}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }

  .user-activity{
    padding: 2rem 0rem;
    /* overflow-x: scroll; */
  }
  
  .activity-box{
    padding: 1rem 5px;
  }
}
@media (max-width: 450px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }

  .title{
    margin: 1rem 0 1rem 1rem;
  }

  .dash-content .user-content {
    padding: 2rem 0rem 3rem 0rem;
  }

  .overview{
    padding: 1.25rem 0rem;
  }

  .activity{
    padding: 1.25rem 0rem;
  }

  .messagebroadcastdiv{
    padding: 1.25rem 0rem;
  }

  .top-clock{
    display: none;
  }

  nav{
    display: none;
  }

  .top-nav{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    list-style: none;
    padding: 0.5rem 0.5rem;
    /* flex-wrap: wrap; */
    align-items: center;
    color:var(--black-light-color)
  }
  
  .top-nav-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .top-nav-elements .nav-ele-name{
    font-size: 0.9rem;
    /* color: var(--primary-color); */
  }
  
  .top-nav-logout{
    display: flex;
    font-size: 2rem;
    list-style: none;
    color:var(--black-light-color)
  }

  .top-nav-logout li{
    display: flex;
    flex-direction: column;
  }
  .top-nav-logout span{
    font-size: 0.9rem;
  }
  

  .top-nav-logout a{
    color:var(--black-light-color)
  }

  .top-nav-elements:hover{
    color: var(--primary-color);
  }

}

.hide {
  display: none;
}

.show {
  display: block;
}




