@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
::selection {
  background: #4158d0;
  color: #fff;
}

a{
  text-decoration: none;
  color: inherit;
}
.wrapper {
  width: 90%;
  max-width: 23.75rem; /* 380px to rem */
  background: #fff;
  border-radius: 0.9375rem; /* 15px to rem */
  box-shadow: 0px 0.9375rem 1.25rem rgba(0, 0, 0, 0.1); /* 15px and 20px to rem */
}
.wrapper .title {
  font-size: 2.1875rem; /* 35px to rem */
  font-weight: 600;
  text-align: center;
  line-height: 6.25rem; /* 100px to rem */
  color: #fff;
  user-select: none;
  border-radius: 0.9375rem 0.9375rem 0 0; /* 15px to rem */
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form {
  padding: 0.625rem 1.875rem 3.125rem 1.875rem; /* 10px, 30px, 50px to rem */
}
.wrapper form .field {
  height: 3.125rem; /* 50px to rem */
  width: 100%;
  margin-top: 1.25rem; /* 20px to rem */
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.0625rem; /* 17px to rem */
  padding-left: 1.25rem; /* 20px to rem */
  border: 1px solid lightgrey;
  border-radius: 1.5625rem; /* 25px to rem */
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 1.25rem; /* 20px to rem */
  color: #999999;
  font-weight: 400;
  font-size: 1.0625rem; /* 17px to rem */
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 1rem; /* 16px to rem */
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content {
  display: flex;
  width: 100%;
  height: 3.125rem; /* 50px to rem */
  font-size: 1rem; /* 16px to rem */
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 0.9375rem; /* 15px to rem */
  height: 0.9375rem; /* 15px to rem */
  background: red;
}
form .content label {
  color: #262626;
  user-select: none;
  padding-left: 0.3125rem; /* 5px to rem */
}
form .content .pass-link {
  color: "";
}
form select {
  border-radius: 3.125rem; /* 5rem to rem */
  width: 100%;
  height: 3.125rem; /* 50px to rem */
  text-align: center;
  border: 1px solid lightgrey;
  background-color: #f8f9fa;
  color: #343a40;
  cursor: pointer;
}
form select::-ms-expand {
  margin-left: 0.3125rem; /* 5px to rem */
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -0.625rem; /* -10px to rem */
  font-size: 1.25rem; /* 20px to rem */
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #262626;
  margin-top: 1.25rem; /* 20px to rem */
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}
.gender-selection {
  display: flex;
  justify-content: space-around;
  margin-block-start: 1rem;
}
.gender-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.375rem; /* 0.6rem to rem */
  padding: 0.3125rem 0.625rem; /* 0.5rem 1rem to rem */
  transition: 0.3s;
}
.gender-option:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
  transform: scale(1.05);
}
.gender-option input[type="radio"] {
  display: none;
}
.gender-option .icon {
  margin-right: 0.5rem; /* 8px to rem */
  transition: transform 0.3s;
}
.gender-option input[type="radio"]:checked + .icon {
  transform: scale(1.25);
}
.gender-option input[type="radio"]:checked + .icon {
  border-radius: 50%;
  background-color: #007bff;
}

.login-div{
  display: flex;
  justify-content: center;
  margin-block-end: 0.2rem; 
}

.login-link a{
  color: #007bff;
}

/* google button */

/* .gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
} */

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  border-color: #8e918f;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}


@media screen and (max-width: 25rem) {
  .wrapper form {
    padding: 0.625rem 1.2rem 2.5rem 1.2rem;
  }
}
