.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--gold-crayola);
  color: var(--smoky-black-1);
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  
  &:is(:hover, :focus-visible) {
    background-color: var(--white);
    color: var(--gold-crayola);
  }
}


.back-top-btn.active {
  opacity: 1;
  visibility: visible;
}
