.user-dashboard {
    .top{
        // position: fixed;
        // top: 0;
        // left: 210px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.4rem;
        background-color: $surface-mixed-100;
        transition: var(--tran-05);
        z-index: 10;
        border: 1px solid #8b8b8b;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}

// nav.close ~ .user-dashboard .top{
//     left: 73px;
//     width: calc(100% - 73px);
// }
.user-dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.user-dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.user-dashboard .dash-content{
    padding-top: 50px;
}