footer {
  background: url("../assets/images/footer-bg.jpg");
}

.footer-top {
  margin-block-end: 70px;
}

.footer-brand {
  position: relative;
  padding: 50px 40px;
  background: var(--smoky-black-1) url("../assets/images/footer-form-bg.jpg");
  background-position: center top;
  background-repeat: repeat;

  &::before,
  &::after {
    top: 0;
    width: 15px;
    height: 100%;
    background-image: url("../assets/images/footer-form-pattern.svg");
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 40px;
  }

  :is(.body-4, .label-1) {
    color: var(--quick-silver);
    line-height: var(--lineHeight-3);
  }

  .contact-link {
    margin-block: 6px;
    transition: var(--transition-1);
  }

  .contact-link:is(:hover, :focus-visible) {
    color: var(--gold-crayola);
  }

  .seprator-wrapper {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-block: 40px 25px;
  }

  .separator {
    animation: rotate360 15s linear infinite;
  }

  .label-1 {
    margin-block-end: 30px;

    .span {
      display: inline;
      color: var(--white);
    }
  }

  .icon-wrapper .input-field {
    cursor: text;
  }

  .btn {
    min-width: 100%;
  }
}

.footer-list {
  display: grid;
  gap: 20px;

  .footer-link {
    color: var(--quick-silver);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-4);
    margin-inline: auto;
    transition: var(--transition-1);

    &:is(:hover, :focus-visible) {
      color: var(--gold-crayola);
    }

    .copyright {
      color: var(--quick-silver);
      line-height: var(--lineHeight-3);

      .link {
        display: inline;
        color: var(--gold-crayola);
        text-decoration: underline;
      }
    }


  }

}


@media (min-width: 575px) {

  .footer-brand>* {
    max-width: 460px;
    margin-inline: auto;
  }

  .footer .input-wrapper {
    position: relative;
  }

  .footer .input-field {
    margin-block-end: 0;
    padding-inline-end: 205px;
  }

  .footer-brand .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: max-content;
  }
}

@media (min-width:768px) {
  .footer-brand {
    grid-column: 1 / 3;
  }
}


@media (min-width: 992px) {

  .footer .grid-list {
    grid-template-columns: 0.45fr 1fr 0.45fr;
    align-items: center;
  }

  .footer-brand {
    grid-column: auto;
    order: 1;
    padding-block: 100px;
  }

  .footer-list:last-child {
    order: 2;
  }
}