<%- include("../includes/header.ejs") %>
<title>Add Testimonial!</title>
</head>

<body style="overflow: auto;">

    <section class="section countdown bg-black-10 text-center" aria-label="countdown" id="workshop">
        <div class="container">

            <h2 class="headline-1 section-title">We'd Love to Hear From You!</h2>
            <br>
            <br>
            <p class="section-subtitle label-2" style="letter-spacing: 0em;font-size: 1.5rem;text-transform: none;">Your
                feedback is important to us. Please take a moment to share your
                experience and thoughts about our services.</p>

            <form id="addfield" enctype="multipart/form-data" class="addfield" method="post" action="/testimonial">
                <div style="position: relative;">
                    <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">Your Review</p>
                    <input type="text" name="review" placeholder="REVIEW" required>
                    <p style="color: red;font-size: 2rem;position: absolute;top: 0%;right: 0%;">*</p>
                </div>
                <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">Any Suggestions</p>
                <input type="text" id="suggestion" name="suggestion" placeholder="SUGGESTION">
                <%if (!user.profilepicture.isUpdated){%>
                    <p style="color: hsl(38, 61%, 73%); font-size: 1.5em;margin-block-end: 0.5rem;">Update Your Profile Picture
                    </p>
                    <input type="file" id="myFile" name="myFile" />
                    <% } %>

                        <button type="submit" class="btn btn-primary">ADD!</button>
            </form>

        </div>
    </section>
</body>

</html>