@mixin seatMatrix-1{
    .seat-1{
        top: 1rem;
        left: 2rem;
    }

    .seat-2{
        top: 8rem;
        left: 2rem;
    }

    .seat-3{
        bottom: 0.5rem;
        transform: rotate(-90deg);
    }
}

@mixin seatMatrix-2{
    .seat-1{
        top: 2.8rem;
        left: 3rem;
        transform: rotate(30deg);
    }
    .seat-2{
        top: 7.5rem;
        right: 2rem;
        transform: rotate(-180deg);
    }
    .seat-3{
        bottom: 0.5rem;
        left: 5.2rem;
        transform: rotate(-60deg);
    }
}